[submodule "lib/javascript-helper"]
	path = lib/javascript-helper
	url = https://github.com/protoman92/javascript-helper.git
[submodule "lib/microbackend"]
	path = lib/microbackend
	url = https://github.com/protoman92/microbackend.git
